@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    color: #24100A;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #FBF2EF;
}

li, a {
    text-decoration: none;
    list-style: none;
    color: inherit;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: space-between;
    height: 60px;
    left: 0;
    right: 0;
    padding: 0 12%;
    background-color: #ddd4d1;
    align-items: center; 
    border-bottom: 1px solid rgb(212, 212, 212);
    
}

.logo img{
    border-radius: 50%;
    height: 40px;
}

.links>ul{
    display: flex;
    gap: 16px;
}

.welcome-bar{
    margin: 100px 0 50px 0;
    padding: 0 12%;
    display: flex;
    flex-wrap: wrap;
} 

.welcome-bar > div{
    flex: 1;
}

.big-photo > img{
    max-height: 350px;
    margin: auto 50px;
}

.info-short{ 
    min-width: 250px;
    margin: auto 50px;
    line-height: 2rem;
}

/* main body */
.main{
    display: flex;
    flex-direction: column;
    padding: 0 12%;
    justify-content: center;
    flex-grow: 1;
}

.info-top{
    max-width: 500px;
    margin: 50px auto;
    line-height: 2rem;
    text-align: center;
}

.info-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.small-photo{
    object-fit: cover;
    width: 250px;
    height: 250px;
}

.info-body > div {
    width: 325px;
    flex-grow: 0    ;
    text-align: center;
}

